# Tarea Covid

Recrear, simular datos de la pandemia en Costa Rica, durante el año 2020, 365 reportes: un por cada día del año

Consideraciones:
Cada habitante de Costa Rica que puede vivir en cualquier lugar, sea:
7 provincias
82 cantones
xxx distritos

$ crear aleatoriamente reportes de datos de infección diarios que se requiere: 

crear un dataframe /reporte de nuevos contagios

# cedula , provincia, canton, distrito, fecha resultado positivo, fecha resultado negativo , estado [subceptible, infectado, recuperado, fallecido]

# se puede volver a contagiar : si . No se puede contagiar si está contagiodo
# se puede fallecer : si

Intregable:
365 archivos del tipo CSV que representa el reporte diario de sólo datos actualizados (importante)


descricion de de columnas: 

cedula: x-xxxx-xxxx
provincia [san jose, alajuela, cartago, heredia, guanacaste, puntarenas, limon]
cantones: los 82
distritos: los reales (todos los que hay)
fechas: año-mes-dia
estado: categorical [subceptible, infectado, recuperado, fallecido]

cantidas de datos:
cantidad. aleatoria de personas. uniforme rango [0-1000]
ubicacion. aleatorio. con sentido real (san jose. tibas, llorente)

fecha de resultado negativo (número de días por curarse): 14 días. aleatorio normal seagado a la derecha en 14 días

fallecer: distribución uniforme [si/no]

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import date, timedelta

In [2]:
## Origen de datos: TSE
#location = pd.read_csv('data/Distelec.txt', header=None engine = 'python-fwf')
location = pd.read_csv('data/Distelec.txt', header=None, encoding='ISO8859-1')
#converters={3: str.lstrip}
location.columns = ['ID_UBICACION', 'PROVINCIA', 'DISTRITO', 'CANTON']
location.head()

,ID_UBICACION,PROVINCIA,DISTRITO,CANTON
0,101001,SAN JOSE,CENTRAL,HOSPITAL ...
1,101002,SAN JOSE,CENTRAL,ZAPOTE ...
2,101003,SAN JOSE,CENTRAL,SAN FRANCISCO DE DOS RIOS ...
3,101004,SAN JOSE,CENTRAL,URUCA ...
4,101005,SAN JOSE,CENTRAL,MATA REDONDA ...

In [3]:
location['DISTRITO'] = location.loc[: , 'DISTRITO'].str.strip()

In [4]:
location.iloc[0]

ID_UBICACION                                               101001
PROVINCIA                                                SAN JOSE
DISTRITO                                                  CENTRAL
CANTON          HOSPITAL                                      ...
Name: 0, dtype: object

In [5]:
## Origen de datos: TSE
persons = pd.read_csv('data/PADRON_COMPLETO.txt', header=None, encoding='ISO8859-1')
persons.columns = ['CEDULA', 'CODELEC', 'SEXO', 'FEC_VENCIMIENTO', 'JUNTA', 'NOMBRE', '1ER_APELLIDO', '2DO_APELLIDO']
persons.head()

,CEDULA,CODELEC,SEXO,FEC_VENCIMIENTO,JUNTA,NOMBRE,1ER_APELLIDO,2DO_APELLIDO
0,100339724,109007,1,20231119,0,JOSE,DELGADO,CORRALES
1,100842598,108001,2,20261024,0,CARMEN,CORRALES,MORALES
2,100842638,301027,1,20220531,0,RAFAEL,AGUERO,MORA
3,100964116,104022,1,20280207,0,MANUEL,DELGADO,GUZMAN
4,100986470,205012,2,20220630,0,MARIA,SALAS,CHAVARRIA

In [6]:
### Unir data de DISTELEC y PADRON
data = persons.merge(location, left_on='CODELEC', right_on='ID_UBICACION')
data.head()

,CEDULA,CODELEC,SEXO,FEC_VENCIMIENTO,JUNTA,NOMBRE,1ER_APELLIDO,2DO_APELLIDO,ID_UBICACION,PROVINCIA,DISTRITO,CANTON
0,100339724,109007,1,20231119,0,JOSE,DELGADO,CORRALES,109007,SAN JOSE,SANTA ANA,PIEDADES ...
1,101300341,109007,2,20220228,0,ERMIDA,SOLIS,FALLAS,109007,SAN JOSE,SANTA ANA,PIEDADES ...
2,101510294,109007,2,20260406,0,BERTA,RAMIREZ,GUILLEN,109007,SAN JOSE,SANTA ANA,PIEDADES ...
3,101610291,109007,2,20250710,0,ADABERTA,CORDERO,JIMENEZ,109007,SAN JOSE,SANTA ANA,PIEDADES ...
4,101670103,109007,1,20280207,0,RAFAEL,CARMONA,UMAÑA,109007,SAN JOSE,SANTA ANA,PIEDADES ...

In [7]:
## Eliminar data no requerida y agregar columnas requeridas
data = data.drop(data.columns[[1, 3, 4, 8]], axis=1)  # df.columns is zero-based pd.Index
data.dtypes

CEDULA           int64
SEXO             int64
NOMBRE          object
1ER_APELLIDO    object
2DO_APELLIDO    object
PROVINCIA       object
DISTRITO        object
CANTON          object
dtype: object

In [8]:
## Añadir columnas requeridas (Estado['Susceptible', 'Contagiado', 'Recuperado', 'Fallecido'], Fecha resultado positivo, Fecha resultado negativo, Fecha fallecido)
data = data.assign(ESTADO='Susceptible', FECHA_RESULTADO_POSITIVO=np.nan, FECHA_RESULTADO_NEGATIVO=np.nan, FECHA_FALLECIMIENTO=np.nan)
#data['CEDULA'] = pd.Categorical(data.CEDULA)
data['ESTADO'] = pd.Categorical(data.ESTADO)
data['FECHA_RESULTADO_POSITIVO'] = pd.to_datetime(data['FECHA_RESULTADO_POSITIVO'])
data['FECHA_RESULTADO_NEGATIVO'] = pd.to_datetime(data['FECHA_RESULTADO_NEGATIVO'])
data['FECHA_FALLECIMIENTO'] = pd.to_datetime(data['FECHA_FALLECIMIENTO'])
sexo_dic = {1: 'Masculino', 2: 'Femenino'}
data['SEXO'] = data['SEXO'].map(sexo_dic)
data['SEXO'] = pd.Categorical(data.SEXO)
data.dtypes

CEDULA                               int64
SEXO                              category
NOMBRE                              object
1ER_APELLIDO                        object
2DO_APELLIDO                        object
PROVINCIA                           object
DISTRITO                            object
CANTON                              object
ESTADO                            category
FECHA_RESULTADO_POSITIVO    datetime64[ns]
FECHA_RESULTADO_NEGATIVO    datetime64[ns]
FECHA_FALLECIMIENTO         datetime64[ns]
dtype: object

In [9]:
data.describe()

             CEDULA
count  3.469004e+06
mean   3.136486e+08
std    2.294382e+08
min    1.003397e+08
25%    1.130509e+08
50%    2.062905e+08
75%    5.029701e+08
max    9.014408e+08

In [10]:
data.head()

,CEDULA,SEXO,NOMBRE,1ER_APELLIDO,2DO_APELLIDO,PROVINCIA,DISTRITO,CANTON,ESTADO,FECHA_RESULTADO_POSITIVO,FECHA_RESULTADO_NEGATIVO,FECHA_FALLECIMIENTO
0,100339724,Masculino,JOSE,DELGADO,CORRALES,SAN JOSE,SANTA ANA,PIEDADES ...,Susceptible,NaT,NaT,NaT
1,101300341,Femenino,ERMIDA,SOLIS,FALLAS,SAN JOSE,SANTA ANA,PIEDADES ...,Susceptible,NaT,NaT,NaT
2,101510294,Femenino,BERTA,RAMIREZ,GUILLEN,SAN JOSE,SANTA ANA,PIEDADES ...,Susceptible,NaT,NaT,NaT
3,101610291,Femenino,ADABERTA,CORDERO,JIMENEZ,SAN JOSE,SANTA ANA,PIEDADES ...,Susceptible,NaT,NaT,NaT
4,101670103,Masculino,RAFAEL,CARMONA,UMAÑA,SAN JOSE,SANTA ANA,PIEDADES ...,Susceptible,NaT,NaT,NaT

In [11]:
data.query('CEDULA == "206940116"')

,CEDULA,SEXO,NOMBRE,1ER_APELLIDO,2DO_APELLIDO,PROVINCIA,DISTRITO,CANTON,ESTADO,FECHA_RESULTADO_POSITIVO,FECHA_RESULTADO_NEGATIVO,FECHA_FALLECIMIENTO
3106759,206940116,Masculino,DIEGO GERARDO,ARCE,ESPINOZA,ALAJUELA,GRECIA,PUENTE DE PIEDRA ...,Susceptible,NaT,NaT,NaT

In [12]:
## Obtener dataframe de recuperados utilizando un sesgo de 14 días a la derecha
def get_recovered_people(current_day, df):
    #sick_duration = np.arange(start = 7, stop = 22)
    result = df.loc[df.FECHA_RESULTADO_NEGATIVO == current_day]
    result['ESTADO'] = 'RECUPERADO'
    return result

In [13]:
## Obtener dataframe de contagiados utilizando un aleatorio entre 0-1000 para cada día
sick_duration = np.arange(start = 7, stop = 22)
def get_random_recovery_day(current_day):
    probability = [.02, .02, .03, .03, .03, .03, .03, .5, .06, .06, .04, .04, .04, .04, .03]
    random_days = np.random.choice(a = sick_duration, p = probability, size = 1)[0].astype(np.float)
    return current_day+timedelta(days=random_days)

def get_sick_people(current_day, df):
    x = np.random.randint(1000)
    result = df.sample(n = x)
    result['FECHA_RESULTADO_POSITIVO'].fillna(current_day, inplace = True)
    result['ESTADO'] = 'CONTAGIADO'
    result['FECHA_RESULTADO_NEGATIVO'] = result['FECHA_RESULTADO_NEGATIVO'].apply(lambda a: get_random_recovery_day(current_day))
    return result

In [14]:
## Obtener dataframe de muertos utilizando una mortalidad del 0.7% aprox de los contagidos
def get_dead_people(current_day, df):
    result = df.sample(frac = 0.007)
    result['FECHA_RESULTADO_NEGATIVO'] = np.nan
    result['FECHA_FALLECIMIENTO'].fillna(current_day, inplace = True)
    result['ESTADO'] = 'FALLECIDO'
    return result

In [15]:
# Iterar entre los 365 dias del año
start_date = date(2020, 1, 1)
end_date = date(2020, 12, 31)
daterange = pd.date_range(start_date, end_date)

# Crear dataframes en blanco
total_dead_people = pd.DataFrame(data=None, columns=data.columns)
total_sick_people = pd.DataFrame(data=None, columns=data.columns)
#total_recovered_people = pd.DataFrame(data=None, columns=data.columns)

#numOfRows = data.shape[0]
initial_num_rows = len(data.index)
print('Cantidad inicial del total de registros:' + str(initial_num_rows))

# Generar reportes de contagiados, muertes y recuperados
for day in daterange:
    print ("Calculando datos para:" + day.strftime("%Y-%m-%d"))

    ## Obtener cantidad de enfermos del dia
    sick_people_df = get_sick_people(day, data)
    data = data.drop(sick_people_df.index)
    total_sick_people = total_sick_people.append(sick_people_df, ignore_index=True)

    ## Obtener recuperados y volver a unir al data
    recovered_people_df = get_recovered_people(day, total_sick_people)
    total_sick_people = total_sick_people.drop(recovered_people_df.index)
    data = data.append(recovered_people_df, ignore_index=True)

    ## Obtener cantidad de muertos del total de enfermos
    dead_people_df = get_dead_people(day, total_sick_people)
    total_sick_people = total_sick_people.drop(dead_people_df.index)
    total_dead_people = total_dead_people.append(dead_people_df, ignore_index=True)

    day_resume = sick_people_df.copy()
    day_resume = day_resume.append(recovered_people_df, ignore_index=True)
    day_resume = day_resume.append(dead_people_df, ignore_index=True)

    day_resume.to_csv('results/resume' + day.strftime("%Y-%m-%d") + '.csv', index = True)

print('-----------------------------------------------')
data = data.append(total_sick_people, ignore_index=True)
data = data.append(total_dead_people, ignore_index=True)
final_num_rows = len(data.index)
print('Cantidad final del total de registros:' + str(final_num_rows))
data.to_csv('results/padron_total.csv', index = True)

Cantidad inicial del total de registros:3469004
Calculando datos para:2020-01-01
Calculando datos para:2020-01-02
Calculando datos para:2020-01-03
Calculando datos para:2020-01-04
Calculando datos para:2020-01-05
Calculando datos para:2020-01-06
Calculando datos para:2020-01-07
Calculando datos para:2020-01-08
Calculando datos para:2020-01-09
Calculando datos para:2020-01-10
Calculando datos para:2020-01-11
Calculando datos para:2020-01-12
Calculando datos para:2020-01-13
Calculando datos para:2020-01-14
Calculando datos para:2020-01-15
Calculando datos para:2020-01-16
Calculando datos para:2020-01-17
Calculando datos para:2020-01-18
Calculando datos para:2020-01-19
Calculando datos para:2020-01-20
Calculando datos para:2020-01-21
Calculando datos para:2020-01-22
Calculando datos para:2020-01-23
Calculando datos para:2020-01-24
Calculando datos para:2020-01-25
Calculando datos para:2020-01-26
Calculando datos para:2020-01-27
Calculando datos para:2020-01-28
Calculando datos para:2020-01-29
Calculando datos para:2020-01-30
Calculando datos para:2020-01-31
Calculando datos para:2020-02-01
Calculando datos para:2020-02-02
Calculando datos para:2020-02-03
Calculando datos para:2020-02-04
Calculando datos para:2020-02-05
Calculando datos para:2020-02-06
Calculando datos para:2020-02-07
Calculando datos para:2020-02-08
Calculando datos para:2020-02-09
Calculando datos para:2020-02-10
Calculando datos para:2020-02-11
Calculando datos para:2020-02-12
Calculando datos para:2020-02-13
Calculando datos para:2020-02-14
Calculando datos para:2020-02-15
Calculando datos para:2020-02-16
Calculando datos para:2020-02-17
Calculando datos para:2020-02-18
Calculando datos para:2020-02-19
Calculando datos para:2020-02-20
Calculando datos para:2020-02-21
Calculando datos para:2020-02-22
Calculando datos para:2020-02-23
Calculando datos para:2020-02-24
Calculando datos para:2020-02-25
Calculando datos para:2020-02-26
Calculando datos para:2020-02-27
Calculando datos para:2020-02-28
Calculando datos para:2020-02-29
Calculando datos para:2020-03-01
Calculando datos para:2020-03-02
Calculando datos para:2020-03-03
Calculando datos para:2020-03-04
Calculando datos para:2020-03-05
Calculando datos para:2020-03-06
Calculando datos para:2020-03-07
Calculando datos para:2020-03-08
Calculando datos para:2020-03-09
Calculando datos para:2020-03-10
Calculando datos para:2020-03-11
Calculando datos para:2020-03-12
Calculando datos para:2020-03-13
Calculando datos para:2020-03-14
Calculando datos para:2020-03-15
Calculando datos para:2020-03-16
Calculando datos para:2020-03-17
Calculando datos para:2020-03-18
Calculando datos para:2020-03-19
Calculando datos para:2020-03-20
Calculando datos para:2020-03-21
Calculando datos para:2020-03-22
Calculando datos para:2020-03-23
Calculando datos para:2020-03-24
Calculando datos para:2020-03-25
Calculando datos para:2020-03-26
Calculando datos para:2020-03-27
Calculando datos para:2020-03-28
Calculando datos para:2020-03-29
Calculando datos para:2020-03-30
Calculando datos para:2020-03-31
Calculando datos para:2020-04-01
Calculando datos para:2020-04-02
Calculando datos para:2020-04-03
Calculando datos para:2020-04-04
Calculando datos para:2020-04-05
Calculando datos para:2020-04-06
Calculando datos para:2020-04-07
Calculando datos para:2020-04-08
Calculando datos para:2020-04-09
Calculando datos para:2020-04-10
Calculando datos para:2020-04-11
Calculando datos para:2020-04-12
Calculando datos para:2020-04-13
Calculando datos para:2020-04-14
Calculando datos para:2020-04-15
Calculando datos para:2020-04-16
Calculando datos para:2020-04-17
Calculando datos para:2020-04-18
Calculando datos para:2020-04-19
Calculando datos para:2020-04-20
Calculando datos para:2020-04-21
Calculando datos para:2020-04-22
Calculando datos para:2020-04-23
Calculando datos para:2020-04-24
Calculando datos para:2020-04-25
Calculando datos para:2020-04-26
Calculando datos para:2020-04-27
Calculando datos para:2020-04-28
Calculando datos para:2020-04-29
Calculando datos para:2020-04-30
Calculando datos para:2020-05-01
Calculando datos para:2020-05-02
Calculando datos para:2020-05-03
Calculando datos para:2020-05-04
Calculando datos para:2020-05-05
Calculando datos para:2020-05-06
Calculando datos para:2020-05-07
Calculando datos para:2020-05-08
Calculando datos para:2020-05-09
Calculando datos para:2020-05-10
Calculando datos para:2020-05-11
Calculando datos para:2020-05-12
Calculando datos para:2020-05-13
Calculando datos para:2020-05-14
Calculando datos para:2020-05-15
Calculando datos para:2020-05-16
Calculando datos para:2020-05-17
Calculando datos para:2020-05-18
Calculando datos para:2020-05-19
Calculando datos para:2020-05-20
Calculando datos para:2020-05-21
Calculando datos para:2020-05-22
Calculando datos para:2020-05-23
Calculando datos para:2020-05-24
Calculando datos para:2020-05-25
Calculando datos para:2020-05-26
Calculando datos para:2020-05-27
Calculando datos para:2020-05-28
Calculando datos para:2020-05-29
Calculando datos para:2020-05-30
Calculando datos para:2020-05-31
Calculando datos para:2020-06-01
Calculando datos para:2020-06-02
Calculando datos para:2020-06-03
Calculando datos para:2020-06-04
Calculando datos para:2020-06-05
Calculando datos para:2020-06-06
Calculando datos para:2020-06-07
Calculando datos para:2020-06-08
Calculando datos para:2020-06-09
Calculando datos para:2020-06-10
Calculando datos para:2020-06-11
Calculando datos para:2020-06-12
Calculando datos para:2020-06-13
Calculando datos para:2020-06-14
Calculando datos para:2020-06-15
Calculando datos para:2020-06-16
Calculando datos para:2020-06-17
Calculando datos para:2020-06-18
Calculando datos para:2020-06-19
Calculando datos para:2020-06-20
Calculando datos para:2020-06-21
Calculando datos para:2020-06-22
Calculando datos para:2020-06-23
Calculando datos para:2020-06-24
Calculando datos para:2020-06-25
Calculando datos para:2020-06-26
Calculando datos para:2020-06-27
Calculando datos para:2020-06-28
Calculando datos para:2020-06-29
Calculando datos para:2020-06-30
Calculando datos para:2020-07-01
Calculando datos para:2020-07-02
Calculando datos para:2020-07-03
Calculando datos para:2020-07-04
Calculando datos para:2020-07-05
Calculando datos para:2020-07-06
Calculando datos para:2020-07-07
Calculando datos para:2020-07-08
Calculando datos para:2020-07-09
Calculando datos para:2020-07-10
Calculando datos para:2020-07-11
Calculando datos para:2020-07-12
Calculando datos para:2020-07-13
Calculando datos para:2020-07-14
Calculando datos para:2020-07-15
Calculando datos para:2020-07-16
Calculando datos para:2020-07-17
Calculando datos para:2020-07-18
Calculando datos para:2020-07-19
Calculando datos para:2020-07-20
Calculando datos para:2020-07-21
Calculando datos para:2020-07-22
Calculando datos para:2020-07-23
Calculando datos para:2020-07-24
Calculando datos para:2020-07-25
Calculando datos para:2020-07-26
Calculando datos para:2020-07-27
Calculando datos para:2020-07-28
Calculando datos para:2020-07-29
Calculando datos para:2020-07-30
Calculando datos para:2020-07-31
Calculando datos para:2020-08-01
Calculando datos para:2020-08-02
Calculando datos para:2020-08-03
Calculando datos para:2020-08-04
Calculando datos para:2020-08-05
Calculando datos para:2020-08-06
Calculando datos para:2020-08-07
Calculando datos para:2020-08-08
Calculando datos para:2020-08-09
Calculando datos para:2020-08-10
Calculando datos para:2020-08-11
Calculando datos para:2020-08-12
Calculando datos para:2020-08-13
Calculando datos para:2020-08-14
Calculando datos para:2020-08-15
Calculando datos para:2020-08-16
Calculando datos para:2020-08-17
Calculando datos para:2020-08-18
Calculando datos para:2020-08-19
Calculando datos para:2020-08-20
Calculando datos para:2020-08-21
Calculando datos para:2020-08-22
Calculando datos para:2020-08-23
Calculando datos para:2020-08-24
Calculando datos para:2020-08-25
Calculando datos para:2020-08-26
Calculando datos para:2020-08-27
Calculando datos para:2020-08-28
Calculando datos para:2020-08-29
Calculando datos para:2020-08-30
Calculando datos para:2020-08-31
Calculando datos para:2020-09-01
Calculando datos para:2020-09-02
Calculando datos para:2020-09-03
Calculando datos para:2020-09-04
Calculando datos para:2020-09-05
Calculando datos para:2020-09-06
Calculando datos para:2020-09-07
Calculando datos para:2020-09-08
Calculando datos para:2020-09-09
Calculando datos para:2020-09-10
Calculando datos para:2020-09-11
Calculando datos para:2020-09-12
Calculando datos para:2020-09-13
Calculando datos para:2020-09-14
Calculando datos para:2020-09-15
Calculando datos para:2020-09-16
Calculando datos para:2020-09-17
Calculando datos para:2020-09-18
Calculando datos para:2020-09-19
Calculando datos para:2020-09-20
Calculando datos para:2020-09-21
Calculando datos para:2020-09-22
Calculando datos para:2020-09-23
Calculando datos para:2020-09-24
Calculando datos para:2020-09-25
Calculando datos para:2020-09-26
Calculando datos para:2020-09-27
Calculando datos para:2020-09-28
Calculando datos para:2020-09-29
Calculando datos para:2020-09-30
Calculando datos para:2020-10-01
Calculando datos para:2020-10-02
Calculando datos para:2020-10-03
Calculando datos para:2020-10-04
Calculando datos para:2020-10-05
Calculando datos para:2020-10-06
Calculando datos para:2020-10-07
Calculando datos para:2020-10-08
Calculando datos para:2020-10-09
Calculando datos para:2020-10-10
Calculando datos para:2020-10-11
Calculando datos para:2020-10-12
Calculando datos para:2020-10-13
Calculando datos para:2020-10-14
Calculando datos para:2020-10-15
Calculando datos para:2020-10-16
Calculando datos para:2020-10-17
Calculando datos para:2020-10-18
Calculando datos para:2020-10-19
Calculando datos para:2020-10-20
Calculando datos para:2020-10-21
Calculando datos para:2020-10-22
Calculando datos para:2020-10-23
Calculando datos para:2020-10-24
Calculando datos para:2020-10-25
Calculando datos para:2020-10-26
Calculando datos para:2020-10-27
Calculando datos para:2020-10-28
Calculando datos para:2020-10-29
Calculando datos para:2020-10-30
Calculando datos para:2020-10-31
Calculando datos para:2020-11-01
Calculando datos para:2020-11-02
Calculando datos para:2020-11-03
Calculando datos para:2020-11-04
Calculando datos para:2020-11-05
Calculando datos para:2020-11-06
Calculando datos para:2020-11-07
Calculando datos para:2020-11-08
Calculando datos para:2020-11-09
Calculando datos para:2020-11-10
Calculando datos para:2020-11-11
Calculando datos para:2020-11-12
Calculando datos para:2020-11-13
Calculando datos para:2020-11-14
Calculando datos para:2020-11-15
Calculando datos para:2020-11-16
Calculando datos para:2020-11-17
Calculando datos para:2020-11-18
Calculando datos para:2020-11-19
Calculando datos para:2020-11-20
Calculando datos para:2020-11-21
Calculando datos para:2020-11-22
Calculando datos para:2020-11-23
Calculando datos para:2020-11-24
Calculando datos para:2020-11-25
Calculando datos para:2020-11-26
Calculando datos para:2020-11-27
Calculando datos para:2020-11-28
Calculando datos para:2020-11-29
Calculando datos para:2020-11-30
Calculando datos para:2020-12-01
Calculando datos para:2020-12-02
Calculando datos para:2020-12-03
Calculando datos para:2020-12-04
Calculando datos para:2020-12-05
Calculando datos para:2020-12-06
Calculando datos para:2020-12-07
Calculando datos para:2020-12-08
Calculando datos para:2020-12-09
Calculando datos para:2020-12-10
Calculando datos para:2020-12-11
Calculando datos para:2020-12-12
Calculando datos para:2020-12-13
Calculando datos para:2020-12-14
Calculando datos para:2020-12-15
Calculando datos para:2020-12-16
Calculando datos para:2020-12-17
Calculando datos para:2020-12-18
Calculando datos para:2020-12-19
Calculando datos para:2020-12-20
Calculando datos para:2020-12-21
Calculando datos para:2020-12-22
Calculando datos para:2020-12-23
Calculando datos para:2020-12-24
Calculando datos para:2020-12-25
Calculando datos para:2020-12-26
Calculando datos para:2020-12-27
Calculando datos para:2020-12-28
Calculando datos para:2020-12-29
Calculando datos para:2020-12-30
Calculando datos para:2020-12-31
-----------------------------------------------
Cantidad final del total de registros:3469004

In [16]:
df2 = data[data.ESTADO.isin(['RECUPERADO', 'FALLECIDO', 'CONTAGIADO'])]
print('-----------------------------------------------')
recuperados = len(data[data.ESTADO.isin(['RECUPERADO'])].index)
fallecidos = len(data[data.ESTADO.isin(['FALLECIDO'])].index)
contagiados = len(data[data.ESTADO.isin(['CONTAGIADO'])].index)
print('Total de contagiados: ' + str(contagiados))
print('Total de recuperados: ' + str(recuperados))
print('Total de fallecidos: ' + str(fallecidos))
print('-----------------------------------------------')
df2.head()

-----------------------------------------------
Total de contagiados: 5130
Total de recuperados: 147673
Total de fallecidos: 16320
-----------------------------------------------

,CEDULA,SEXO,NOMBRE,1ER_APELLIDO,2DO_APELLIDO,PROVINCIA,DISTRITO,CANTON,ESTADO,FECHA_RESULTADO_POSITIVO,FECHA_RESULTADO_NEGATIVO,FECHA_FALLECIMIENTO
3299881,110070353,Femenino,ADRIANA PAMELA,RIVAS,MUÑOZ,SAN JOSE,TIBAS,SAN JUAN ...,RECUPERADO,2020-01-01,2020-01-08 00:00:00,NaT
3299882,108140801,Femenino,OLGA CECILIA,CUBERO,LI,HEREDIA,FLORES,LLORENTE ...,RECUPERADO,2020-01-01,2020-01-08 00:00:00,NaT
3299883,113890612,Masculino,DANIEL ALEJANDRO,NUÑEZ,CHAVARRIA,SAN JOSE,DESAMPARADOS,LA CAPRI ...,RECUPERADO,2020-01-01,2020-01-08 00:00:00,NaT
3299884,113560226,Femenino,VICTORIA,ALTAMIRANO,VARELA,CARTAGO,OREAMUNO,SAN RAFAEL ...,RECUPERADO,2020-01-01,2020-01-08 00:00:00,NaT
3299885,207200752,Masculino,VICTOR MANUEL,RUIZ,VEGA,HEREDIA,BARVA,PUENTE DE SALAS ...,RECUPERADO,2020-01-01,2020-01-08 00:00:00,NaT

In [24]:
data[data.CEDULA == '204700221']

Empty DataFrame
Columns: [CEDULA, SEXO, NOMBRE, 1ER_APELLIDO, 2DO_APELLIDO, PROVINCIA, DISTRITO, CANTON, ESTADO, FECHA_RESULTADO_POSITIVO, FECHA_RESULTADO_NEGATIVO, FECHA_FALLECIMIENTO]
Index: []

## Referencias
https://www.bbc.com/mundo/noticias-51708029